/* NAVBAR VERTICAL */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 220px;
}

#sidebar-wrapper {
  z-index: 1000;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

#page-content-wrapper {
  width: 100%;
  /* padding-top: 70px; */
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
#mobile-navbar .navbar {
  padding: 0;
}

#mobile-navbar .sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}
.sidebar-nav li:hover {
  background: skyblue !important;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  text-align: left;
  padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.sidebar-header {
  text-align: center;
  font-size: 20px;
  position: relative;
  width: 100%;
  display: inline-block;
}
.sidebar-brand {
  height: 65px;
  position: relative;
  background: #212531;
  background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
  padding-top: 1em;
}
.sidebar-brand a {
  color: #ddd;
}
.sidebar-brand a:hover {
  color: #fff;
  text-decoration: none;
}
.dropdown-header {
  text-align: center;
  font-size: 1em;
  color: #ddd;
  background: #212531;
  background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}
.dropdown-menu.show {
  top: 0;
}
/*Fontawesome icons*/
.nav.sidebar-nav li a::before {
  font-family: fontawesome;
  content: "";
  vertical-align: baseline;
  display: inline-block;
  padding-right: 5px;
}
#mobile-navbar a[href*="../index.html"]::before {
  content: "\f015" !important;
}
#mobile-navbar a[href*="../about/index.html"]::before {
  content: "\f129" !important;
}
#mobile-navbar a[href*="../index.html#contact-form"]::before {
  content: "\f095" !important;
}
#mobile-navbar a[href*="./clients/index.html"]::before {
  content: "\f0c0" !important;
}
#mobile-navbar a[href*="../index.html#services"]::before {
  content: "\f1b2" !important;
}


/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: "";
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all 0.35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}
.hamburger.is-open .hamb-middle {
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}
.hamburger.is-open:before {
  content: "";
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
}

/*-------------------------------*/
/* vertical navbar end           */
/*-------------------------------*/


















  /*horizontal navbar */
  
  header {
    width: 100%;
    height: 55vh;
    background-image: url(https://helixstor.com/wp-content/uploads/2019/04/shop-intro.jpg);
    background-size: cover;
}


.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

#desktop-navbar nav {
    z-index: 10;
    position: fixed;
    width: 100%;
    line-height: 60px;
    top: 0;
}

#desktop-navbar nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

#desktop-navbar nav.black ul {
  background: #000000ba;
}

#desktop-navbar nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

#desktop-navbar nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    #desktop-navbar   nav ul {
          max-height: 0px;
          background: #000;
    }

    #desktop-navbar  nav.black ul {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    #desktop-navbar nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}
#desktop-navbar a:hover{
  color: yellow;
  border-bottom: 1px solid;
  transition: 0.5s;

}
/* horizontal navbar css end */
/* ***************************** */



@media only screen and (max-device-width: 1000px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
#desktop-navbar{
  display: none;
}
 
 }

 @media only screen and (min-width: 1001px) {
  /* styles for browsers larger than 480px; */
#mobile-navbar{
  display: none;
}
}





  
  header {
    width: 100%;
    height: 55vh;
    /* background-image: url(https://helixstor.com/wp-content/uploads/2019/04/shop-intro.jpg); */
    /* background-image: url(https://kcpu-bd.com/wp-content/uploads/2020/01/about-us-background.jpg); */
    background-image: url(https://content.thriveglobal.com/wp-content/uploads/2019/08/load-image.jpg);
    background-size: cover;
}


#mainheading{
  margin-top: 20vh;
  width: 100%;
  font-size: 7rem;
  position: absolute;
  text-align: center;
  color: rgb(42, 42, 42);
  background-color: rgba(255, 255, 255, 0.493);
  font-family: 'Poppins', sans-serif;
}
.heading{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #313131;
  font-weight: 300;
  font-size: 43px;
  line-height: 56px;
  margin-top: 10vh;
}
.line-break{
  border: 2px solid yellow;
  width: 80px;
}
#aboutuspara p{
  color: #888888;
  font-weight: 400;
  font-size: 18px;
  margin: 40px auto;
}


/*  COMPANY LISTS external css: flickity.css */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { font-family: 'Poppins', sans-serif; text-align: center;}
  .flickity-page-dots {
    display: none;
  }
  
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 10%;
    height: 150px;
    margin-right: 0px;
    background: white;
    background-size: 80% 90%;
    background-repeat: no-repeat;
    filter: grayscale(100%);
  }
  #company1{
    background-image: url(https://3er1viui9wo30pkxh1v2nh4w-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/Microsoft-Logo-2012.jpg);
  }
  #company2{
      background-image: url(https://openthread.google.cn/images/ot-contrib-google.png);
  }
  #company3{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/59/SAP_2011_logo.svg);
}
#company4{
    background-image: url(https://mma.prnewswire.com/media/949195/Rakuten_Logo.jpg?p=facebook);
}
#company5{
    background-image: url(https://1000logos.net/wp-content/uploads/2019/07/Amazon-logo-2000%E2%80%93present.jpg);
}
#company6{
  background-image: url(https://1000logos.net/wp-content/uploads/2019/07/Amazon-logo-2000%E2%80%93present.jpg);
}
#company7{
  background-image: url(https://3er1viui9wo30pkxh1v2nh4w-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/Microsoft-Logo-2012.jpg);
}
#company8{
  background-image: url(https://1000logos.net/wp-content/uploads/2019/07/Amazon-logo-2000%E2%80%93present.jpg);
}
#company9{
  background-image: url(https://3er1viui9wo30pkxh1v2nh4w-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/Microsoft-Logo-2012.jpg);
}
#company10{
  background-image: url(https://1000logos.net/wp-content/uploads/2019/07/Amazon-logo-2000%E2%80%93present.jpg);
}
#company11{
  background-image: url(https://1000logos.net/wp-content/uploads/2019/07/Amazon-logo-2000%E2%80%93present.jpg);
}
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
  }


  /* TESTIMONIALS */
  /* Testimonial CSS Code Start */
/* background */
.testimonial-text{
  margin: 60px 20%;
  height: fit-content;
}
.testimonial-name{
  font-weight: 700;
  margin: 50px auto;
}
  /* Textimonial CSS Code End */






/* Footer section css */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  text-align: left;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:yellow;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

#footer-contact i{
  margin: auto;
  width: 20px;
  font-size: 20px;
  padding: 5px 0px;
}
#footer-contact a{
  padding-left: 5px;
}
.affi-img{
  width: 100px;
  height: 75px;
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* end of footer  */


@media only screen and (max-device-width: 480px) {
#wrapper { 
  height: 0px;
}
header {height: 35vh;}
#mainheading {
  margin-top: 14vh;
  font-size: 3rem;
}

.heading {font-size: 25px;}
.carousel {height: 600px;}
.testimonial-style .carousel-inner > .item {
  height:320px;
}
.testimonial-style .testimonial-caption-style {
  font-size: 18px;
}
.gallery-cell {
  width: 25%;
}
.quote-image {padding-top: 0px;}

}

@media (max-width: 1599px) and (min-width: 700px){
.container {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
    max-width: 140rem;
}
}